.service-img{
    width: 250px;
    height: 250px;
    margin: auto;
}
.custom-card{
    height: 530px !important;   
}
.all-card{
    background-image: linear-gradient(to right top, #e6e6fa93, #ddefff93, #daf6fc73, #e1fcf6, #f0fff08e);
    border-radius: 15px;
}
.all-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-image: linear-gradient(319deg, #faa499b0 0%, #f7dc85ab 37%, #ffc65c96 100%);

}
.all-card img{
    border-radius: 15px;
}
.color-container{
    background-image: linear-gradient(to right, #0099f7, #f11712);
    border-radius: 15px;
}