.header-img{
    height: 300px !important;
}
.header-text{
    font-size: 1.3rem !important;
    color: snow;
    font-weight: bold;
}
.site-detail{
    /* background-color: black; */
}
@media (max-width: 768px) {
  .site-detail {
    display: none;
  }
}